html, body{
    margin:0px;
    padding:0px;
}
.navbar {
    font-size: 17px;      
    line-height: 1em;
  }
  .bg-dark {
    background-color: #121212 !important;
}
  .adjustPadding{
      margin-left: 0.5rem;
      cursor: pointer;
      margin-right: 0.5rem;
  }
  .navbar-nav li:after {
      content: '';
      display: block;
      margin: auto;
      height: 3px;
      width: 0px;
      background: transparent;
      transition: width .3s ease, background-color .3s ease;
  }
  .navbar-nav li:hover:after {
      width: 100%;
      background: #55ff06;
  }

  .btext{
      position: absolute;
      text-align: center;
      top: 45%;
      width: 100%;
      line-height: 0.5em;
    }
  * { color:#fff; text-decoration: none;}
  body{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .skill-set{
      margin: 1rem;
      padding: 1rem;
      font-size: 2rem;
      height: 5rem;
      color:  #eeeeee;
      cursor: default;
      background-color: #2f2f2f!important;
      border-radius: 0.3rem;
      text-align: center;   
  }
  .skill-set:after
{
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;

  }
  .skill-set:hover:after {
    width: 40%;
    background: #55ff06;
}
.bar_graph_container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#chart1{
    width: auto;
    height: 100px;
}
.flexBu{
    width:100%;
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
    float: left;
    
    justify-content: center;
    
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 36px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }

  .card{
      width: 18rem;
      height: 17rem;
      background-color: #2f2f2f;
      border-radius: 1rem;
      box-shadow: 0 0 5px 1px #ffffff7c;
  }
  
.flip-card {
    background-color: transparent;
    width: 18rem;
    height: 17rem;
    border-radius: 1rem;
    perspective: 1000px;

  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    border-radius: 1rem;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    border-radius: 1rem;
    color: black;
  }
  
  .flip-card-back {
    background-color:rgb(212, 212, 212);
    color: black;
    border-radius: 1rem;
    transform: rotateY(180deg);
  }
  
  #spacing{

   margin:1rem;
   
  }

  .cards_container {
    position: relative;
    width: 18.2rem;
    height: 16rem;
    border-radius: 1rem;
    box-shadow: 0 0 5px 1px #ffffff7c;
    background: #2f2f2f;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
  
  .cards_container:hover .overlay {
    display: inline-block;
    border-radius: 1rem;
    background: #eeeeee;
  }
  
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
  }
  
  .title {
    position: absolute;
    width: 100%;
    left: 0;
    top: 6rem;
    visibility: hidden;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    color: black;
    z-index: 1;
    transition: top .5s ease;
  }
  
  .cards_container:hover .title {
    top: 3rem;
    opacity: 1;
 
  }
  
  .button {
    position: absolute;
    width: 100%;
    left:0;
    top: 10rem;
    text-align: center;
    opacity: 0;
    transition: opacity .35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .button a {
    width: 8rem;
    padding: 1rem 2rem;
    text-align: center;
    color: black;
    border: solid 2px#2f2f2f;
    z-index: 0;
  }
  
  .cards_container:hover .button {
    opacity: 1;
  }
  

  .paragraph_style {
   
    text-align: center;
    padding: 3%;
    padding-top: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-evenly;

  }

  h6 {
    
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    font-weight: bold;
    
  }
  .heading_project{
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    padding : 2rem;
  }

  .recommend{
    width: 100%;
    margin-top:3rem ;
    text-align: center;
  }

  .linkClass{
   width: 100%;
    padding: 1rem ;
    margin: auto;
    height: auto;
    text-align: center;
    text-decoration: underline;

  }

  
  .linkClass:visited {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
  }
  
  .linkClass:hover {
    color: #55ff06;
    background-color: transparent;
    text-decoration: underline;
  }
  
  .linkClass:active {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
  }
  .course_logo{
    padding: 1rem;
    text-align: start;
    width: 7.9rem;
    height: 4.5rem;

  }
  .text_class{
    font-size: 0.8rem;
    padding-left: 1.3rem;
  }
  .coursera_logo{
   height: 1.1rem;
  }

  .certificate_heading{
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
  }
  .footer_card{
    height: 15%;
    text-align: start;
    padding:1.5rem ;
    padding-left:1rem ;
    font-size: 0.8rem;
    
  }

  .certificate_heading  a {
    color: #eeeeee;
    position: relative;
    text-decoration: none;
    transition: color .4s ease-out;
  }
  
  .certificate_heading a:hover {
    color:#55ff06;
    right: 0;
    text-decoration: none;
  }
  
  .certificate_heading a:hover:after {
    border-color: #55ff06;
    right: 0;
  }
  
  .certificate_heading a:after {
    border-radius: 1em;
    border-top: .1rem solid #343a40;
    content: "";
    position: absolute;
      right: 100%;
      bottom: .14em;
      left: 0;
    transition: right .4s cubic-bezier(0,.5,0,1),
                border-color .4s ease-out;
  }
 
  
  @keyframes anchor-underline {
    0%, 10% {
      left: 0;
      right: 100%;
    }
    40%, 60% {
      left: 0;
      right: 0;
    }
    90%, 100% {
      left: 100%;
      right: 0;
    }
  }

#gmail{
  padding-top: 4rem;
  text-align: center;
  text-decoration: none;
}
#gmail_name{
  text-decoration-line: none;
  color: black;
  text-align: center;
}

#hacker_text{
  margin-left: 1rem;
  margin-top: 2rem;
  justify-content: center;
  width: 14rem;
  height: 2.5rem;
}
#first_block{
  cursor: pointer;
}
#first_block div:hover {
  transform: scale(1.1);
}
#second_block {
  cursor: pointer;
}
#second_block img:hover{
  transform: scale(1.1);
 
}
#github{
  cursor: pointer;
}

#github_text{
  margin: 2rem;
  justify-content: center;
  width: 10rem;
  height: 4rem;
}
#github img:hover{
  transform: scale(1.1);
}
#sourcerer{
  cursor: pointer;
  margin: 9rem;
}
#sourcerer_text{
  margin: 2rem;
  justify-content: center;
  width: 10rem;
  height: 4rem;

}

#sourcerer img:hover{
  transform: scale(1.1);
}
.skillHeading{
 text-align: center;
 font-size: 1.5rem;
 padding-top: 0.3rem;
}
.subHeading{
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}




.contactDifferent{
  border:0.1rem solid #121212 ;
   margin: 2.5rem; 
   background-color: #121212;
    box-shadow: 0rem 0rem 0rem ;
}
html {
  scroll-behavior: smooth;
}
.imageStyle{
  border-radius: 1rem;
}

.headingCard{
     background-color: #2f2f2f;
     width: 18rem;
     height: 17rem;
     cursor: default;
     box-shadow: 0 0 5px 1px #ffffff7c;
     border-radius: 1rem;
}

.cardCertification{
  border-radius: 1rem;
      position:relative;
	transition: all 1s ease-in;
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
}

.cardCertification:hover{ top:-5px;
  padding: 0rem;
  box-shadow: 0 0rem 0.5rem #55ff06;

 } 
